.footer {
  background-color: #3b60e4;
  color: #edcb96;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  width: 100vw;
  position: absolute;
  bottom: 0;
  font-size: 10px;
}

.footer > div {
  margin: 0 auto;
  display: flex;
}

.footer > div > p {
  margin: 5px 0 5px 0;
}

.socialIcon {
  display: inline-block;
  height: 30px;
  width: 30px;
  align-self: center;
  margin: 0 10px 0 10px;
}

@media (max-width: 1024px) {
}
@media (max-width: 500px) {
  .ga {
    display: none;
  }
  .copyright {
    align-self: center;
  }
}
