.nav {
  background-color: #3b60e4;
  color: #edcb96;
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  width: 100vw;
}

.nav-title {
  margin: 0 0 0 10px;
  text-decoration: none;
  align-self: flex-start;
}
.link-list {
  transition: all 1s linear;
  margin: 0;
  position: absolute;
  right: 0;
  top: 5px;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  max-width: 80%;
  /* border: 2px solid black; */
}

.nav-link {
  margin: 10px;
  text-decoration: none;
}

.hamburger {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 5px;
  top: 0;
  display: none;
}

@media (max-width: 1024px) {
  .link-list {
    display: none;
    border: 2px solid black;
    flex-flow: column wrap;
    top: 30px;
    background-color: #3b60e4;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 500px) {
}
