.overlay {
  /* transition: all 5s linear 5s; */
  border: 2px solid black;
  position: fixed;
  bottom: 50px;
  left: 15vw;
  height: 20vh;
  width: 70vw;
  background-color: grey;
  display: flex;
  flex-flow: row wrap;
}

.full-name {
  align-self: flex-start;
}

.content {
  height: 70%;
  width: 95%;
}
